name: Multi-arch Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-multiarch:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm]
        include:
          - os: ubuntu-22.04
            arch: amd64
            suffix: x86
          - os: ubuntu-22.04-arm
            arch: arm64
            suffix: arm
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Save Docker Image
      run: |
        TIMESTAMP=$(date +%Y%m%d-%H%M%S)
        echo "TIMESTAMP=$TIMESTAMP" >> $GITHUB_ENV
        IMAGE_NAME="xrce_agent"
        docker buildx build \
          --platform linux/${{ matrix.arch }} \
          --output type=docker \
          -t $IMAGE_NAME:${{ matrix.suffix }}-$TIMESTAMP \
          -f Dockerfile .  # 这里有空格
        
        docker save $IMAGE_NAME:${{ matrix.suffix }}-$TIMESTAMP | gzip > $IMAGE_NAME-${{ matrix.suffix }}-$TIMESTAMP.tar.gz

    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image-${{ matrix.suffix }}-${{ env.TIMESTAMP }}
        path: xrce_agent-${{ matrix.suffix }}-${{ env.TIMESTAMP }}.tar.gz
